html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, #1b2141, #963eac);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-dropdown {
    background-image: linear-gradient(to bottom right, #1b2141, #963eac);
}

.footer {
    background-image: linear-gradient(to bottom, #963eac, #1b2141);
}

.maledetto-bg {
    background-color: transparent;
}

.maremma {
    height: 20vh;
    object-fit: cover;
}

.maremma-dinamica {
    height: 70vh;
    object-fit: cover;
}

/* black opaque overlay */
#current-weather-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 1200px) {
    #current-weather-overlay {
        height: 63%;
    }
}



#current-temp {
    font-size: 5rem;
}
.blur-effect {
    backdrop-filter: blur(10px);
}

/* wind humidity overlay breakpoints */

@media only screen and (min-width: 768px) {
    #wind-humidity-rain-overlay {
        width: 25% !important;
    }
}
@media only screen and (min-width: 1200px) {
    #wind-humidity-rain-overlay {
        width: 15% !important;
    }
}


/* scrollbar forecast */

.row.flex-nowrap {
  overflow-x: auto;
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #999 transparent;  /* Firefox: thumb e track */
}

/* Chrome, Edge, Safari */
.row.flex-nowrap::-webkit-scrollbar {
  height: 6px; 
}

.row.flex-nowrap::-webkit-scrollbar-track {
  background: transparent; 
}

.row.flex-nowrap::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px
}

.row.flex-nowrap::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}